.custom-form {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    opacity: 0.9; /* Opacidad del formulario */
    margin-top: 70px; /* Espaciado superior */
  }
  
  ion-card-header, ion-card-content {
    background-color: #333333; /* Color de fondo más oscuro */
  }
  
  ion-label {
    color: #ff6666; /* Texto rojo oscuro */
  }
  
  ion-button {
    background-color: #ff6666; /* Botón rojo oscuro */
    color: #ffffff; /* Texto blanco */
  }
  
  ion-button:hover {
    background-color: #cc0000; /* Cambio de color al pasar el ratón */
  }
  
  ion-item {
    border-color: #666666; /* Borde del item */
  }
  
  ion-select {
    background-color: #333333; /* Fondo del select */
    color: #ffffff; /* Texto blanco */
  }
  
  ion-select-option {
    color: #ffffff; /* Texto blanco */
  }
  
  /* Personaliza según tus necesidades */
  