<form *ngIf="form" [formGroup]="form" (ngSubmit)="onLogin()">
  <ion-item  color="primary" lines="none" >
    <ion-input
    label="{{ 'login.user' | translate }}"
    labelPlacement="stacked"
    type="email"
    formControlName="email"
  />
  </ion-item>
  <ion-item  color="primary" lines="none" >
    <ion-input
    class="custon-input"
    label="{{ 'login.password' | translate }}"
      labelPlacement="stacked"
      formControlName="password"
      type="password"
    />
  </ion-item>

  <ion-button
    style="text-transform: none"
    [disabled]="!form.valid"
    (click)="onLogin()"
    type="submit"
  >
    {{ "login.submit" | translate }}
  </ion-button>
  <ion-button style="text-transform: none" (click)="navigateRegister()">
    {{ "login.signup" | translate }}
  </ion-button>
</form>
