/* Estilo para el contenedor */

.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 900px;
}

/* Estilo para la tarjeta */
ion-card.custom-form {
  width: 500px; /* Fondo oscuro para la tarjeta */
  color: #fff; /* Texto blanco en la tarjeta */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para el encabezado de la tarjeta */
ion-card-header {
  background-color: #350505; /* Rojo oscuro para el encabezado de la tarjeta */
  border-radius: 10px 10px 0 0;
}

/* Estilo para el contenido de la tarjeta */
ion-card-content {
  padding: 15px;
}

/* Estilo para los botones */
ion-button {
  width: 100%;
  max-width: 300px;
  margin-top: 15px;
  --background: #570b0bde; /* Fondo rojo oscuro */
  --color: #fff; /* Texto blanco */
}

/* Estilo para el botón deshabilitado */
ion-button[disabled] {
  --background: #b300003f; /* Fondo rojo un poco más claro para el botón deshabilitado */
}

/* Hover en el botón */
ion-button:hover {
  --background: #660000; /* Un tono más oscuro al pasar el ratón sobre el botón */
}