<ion-content [fullscreen]="true">
  <div class="flex">
  <ion-card *ngFor="let item of items$ | async">
    <div class="card-content">
    <ion-card-content>
      <ion-card-title class="custom-item-name" appyellow>{{item.itemName | uppercase}}</ion-card-title>
      <div class="custom-item">
        <div>{{item.quality.qualityName}}</div>
        <div>{{item.type.typeName}}</div>
      </div>
    </ion-card-content>
  </div>
  <div class="button-container">
    <ion-button fill="clear" color="secondary" [routerLink]="['/','item', 'update', item.idItem]">
      <ion-icon name="create"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="danger" (click)="deleteItem(item.idItem)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </div>
  </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/item-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>