.flex {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}

.card-about {
  opacity: 0.9;
  margin-top: -2%;
  width: 350px;
  background-color: #111111cb;
  border-image-slice: 10;
  animation: fireAnimation 1.1s infinite alternate-reverse;
  transition: transform 0.3s;
}

.card-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img/background.jpg);
  background-size: cover;
  opacity: 0.1;
}

.card-about:hover {
  transform: scale(0.98);
  background-color: #111111;
}

.card-header {
  align-items: center;
}

.card-content {
  text-align: center;
}

.class {
  margin-top: -8%;
  font-size: 1.5em
}

.custom-item{
  text-align: center;
}


.custom-item-name {
  font-size: 1.3em;
}

ion-card-title {
  font-size: 26px;
  margin-bottom: 5%;
  padding: 10px;
  color: #ffffff;
  background-image: linear-gradient(to right, #140101 0%, rgba(42, 2, 2, 0.619) 50%, #140101 100%);
  font-weight: bold;
  text-align: center;
}

ion-button{
  margin:5% 0% 5% 0%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container ion-button {
  margin-left: 10px; /* Agrega espacio entre los botones */
}

ion-icon{
  width: 30px;
  height: 30px;
}

ion-card {
  width: 400px;
  height: 200px;
}

ion-fab{
  margin: 2%;
}

@keyframes fireAnimation {
  0% {
      box-shadow: 0 0 1px 1.5px rgba(167, 195, 204, 0.068);
  }
  100% {
      box-shadow: 0 0 10px 5px rgb(236, 232, 232);
  }
}