<ion-header>
  <ion-toolbar class="demonic-toolbar">
    <ion-title class="demonic-title">{{ 'main.about' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="demonic-button">{{ 'about.close' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding demonic-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >Adrián Perogil Fernández
        <ion-card-subtitle>Chopito</ion-card-subtitle></ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      {{'about.content1' | translate}}
    </ion-card-content>

    <ion-card-content>
      {{'about.content2' | translate}}
    </ion-card-content>

    <div class="button-container">
      <ion-button (click)="openUrl('https://www.linkedin.com/in/aperogil/')" fill="outline" color="danger">Linkedin</ion-button>
      <ion-button (click)="openUrl('https://github.com/imchopi')" fill="outline" color="danger">Github</ion-button>
    </div>
  </ion-card>
</ion-content>
